*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(14, 100, 103);
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: #A5B4FB;
    border-radius: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 2rem;
    max-width: 800px;
    width: 100%;
}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 0.5rem;
}

#prompt-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #333;
  margin-bottom: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

#generate-btn{
    padding: 10px;
    background-color: #9DFC7C;
    border-radius: 20px;
    box-shadow:  3px 3px black;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
#generate-btn:hover{
    background-color: #72e34d;
}

.palette-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
}

.color-box{
    border-radius: 4px;
    overflow: hidden;
}
.color-box:hover {
  transform: translateY(-5px);
}

.color{
    height: 120px;
    cursor: pointer;
    border: 2px solid black;
}

.color-info {
  background-color: #fff;
  padding: 0.7rem;
  display: flex;
  font-size: 0.9rem;display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-info {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  color: #555;
  margin-top: 2px;
}
.hex-value {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.copy-btn {
  cursor: pointer;
  color: #64748b;
  transition: color 0.2s;
}

.copy-btn:hover {
  color: #667eea;
}

@media (max-width: 768px) {
  .palette-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
